Django==1.5
oauth2
simplejson
pillow  # a maintained fork of PIL
pytz
markdown
django-mobility

#celery  # http://www.celeryproject.org/tutorials/
# apis
#facebook-sdk
TwitterAPI
soundcloud
#lastfm uses oauth2
flickrapi
github3.py
#imgur uses oauth2
django-dajaxice
