html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font: 1em/1.25 Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

div, p, th, td, dd, dt, ol, q, acronym, abbr, a, input, select, textarea {
    margin: 0;
    padding: 0;
    font: normal normal normal 1em/1.25 Arial, Helvetica, sans-serif;
}

a, a:link, a:visited, a:active, a:hover {
    text-decoration: none;
}

img {
    border: none;
}

table {
    margin: 0;
    padding: 0;
    border: none;
}

form {
    margin: 0;
    padding: 0;
    display: inline;
}

label {
    cursor: pointer;
}
