html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #666;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 100%;
}

div, p, dd, dt, ol, q, li, ul, acronym, abbr, input, select, textarea, pre, blockquote, img, form, pre {
  color: #000;
  margin: 0em;
  padding: 0em;
  border: 0em;
  list-style-type: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  vertical-align: middle;
}

th, td, table, tr, td {
  color: #000;
  margin: 0em;
  padding: 0em;
  border: 0em;
  list-style-type: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

a, a:link, a:visited, a:active, a:hover {
  font-size: 1em;
  text-decoration: none;
  color: #000;
}

a:hover {color: #fff;}

p, ol, ul, li, input, select, textarea, pre, blockquote, img, form {
  line-height: 1.5em;
}

.content a, .content a:link, .content a:visited, .content a:active, .content a:hover {
  text-decoration: underline;
}

.content-header a, .content-header a:link, .content-header a:visited, .content-header a:active, .content-header a:hover {
  text-decoration: none;
}

#bodywrap {
  background: #393939;
  background-image: url('/static/img/bg.png');
  /*background-size: 100% 100%;*/
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center top;
  min-height: 100%;
}

table {width: 100%;}
img {max-width: 100%;}
.tdtitle {width: 70%;}
.post-header-right {min-width: 13.33em;}


.content {
  background-color: #e0e0e0;
  word-wrap: break-word;
}

.postcontent h1 {
  font-size: 1.7em;
}

.postcontent h2 {
  font-size: 1.3em;
}

.postcontent h3 {
  font-size: 1em;
}

.postcontent h4 {
  font-size: 0.8em;
}

.postcontent h5 {
  font-size: 0.75em;
}

.postcontent p {
  padding-bottom: 0.83em;
}

.postcontent pre {
  font-family: monospace;
  white-space: pre;
  padding: 0.83em;
}

.postcontent blockquote {
  padding: 1.25em;
}

.postcontent ul, .postcontent ol {
  padding-bottom: 0.83em;
  padding-left: 3.33em;
}

.riverpost ul li, .postcontent ul li { list-style-type: circle; }
.riverpost ol li, .postcontent ol li { list-style-type: decimal; }

.riverpost ul, .riverpost ol {
  padding-left: 3.33em;
}

.comment {
  border-style: solid;
  border-width: 0.17em;
  border-color: #fff;
  border-radius: 0.42em;
}

.website {
  padding-left: 0.42em;
  border-left: 0.17em solid #fff;
}

.postimageright {
  float: right;
  width: 48%;
  padding-left: 0.83em;
  padding-right: 0em;
  padding-top: 0.42em;
  padding-bottom: 0.42em;
}

.postimageleft {
  float: left;
  width: 48%;
  padding-left: 0em;
  padding-right: 0.83em;
  padding-top: 0.42em;
  padding-bottom: 0.42em;
}

.artstub {
  width: 20%;
}

.artimage {
  margin-bottom: 0.83em;
  width: 100%;
}

.bannerphoto {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center -8em;
  background-size: cover;
}

.bannertext {
  color: #fff;
  background-color:rgba(25, 25, 25, 0.7);
  border-radius: 0.42em;
  padding: 0.83em;
  padding-left: 3.33em;
  padding-right: 3.33em;
  font-size: 1.75em;
  margin: 8.33em;
  margin-bottom: 2.08em;
  display: inline-block;
  min-width: 30%;
  text-align: center;
}

.bannerfiller {
  height: 25em;
}

.helpbox {
  text-align: left;
  border-style: solid;
  border-radius: 0.42em;
  border-width: 0.17em;
  border-color: #ffffff;
  margin-top: 0.17em;
  padding: 0.42em;
  z-index: 20;
  background-color: #e0e0e0;
  position: absolute;
  display: none;
}

.hbnarrow {
  width: 11.67em;
}

.hbmedium {
  width: 16.67em;
}

.hbwide {
  width: 25em;
}

.hbtop {
  margin-top: -11em;
}

.hoverhelp:hover .helpbox {
  display: block;
}

.left {float: left;}
.right {float: right;}
.clear {clear: both;}

.inline {display: inline;}
.textleft {text-align: left;}
.textright {text-align: right;}
.textcenter {text-align: center;}
.aligncenter {margin: 0 auto; display: block;}

.filterwidth {width: 16.67em;}

.round-corners {border-radius: 0.42em;}
.full-width {width: 100%;}
.black-border {border-color: #000000;}
.white-background {background-color: #ffffff;}

.headertags {
  width: 30%;
}

.inbetween {
  opacity: 0.5;
  border-top: 0.17em solid #e0e0e0;
  border-bottom: 0.17em solid #e0e0e0;
}

.fieldWrapper {
  padding-top: 0.42em;
  padding-bottom: 0.42em;
}

.contactform input {
  width: 31.25em;
  max-width: 100%;
  display: block;
  border: 0.08em solid #999;
}

.contactform textarea {
  width: 31.25em;
  height: 12.5em;
  display: block;
  max-width: 100%;
  border: 0.08em solid #999;
}

.contactform input:focus, .contactform textarea:focus {
  border: 0.08em solid #000;
}

.alert input, .alert textarea {
  border-color: red;
}

.alert span {
  color: red;
}

.contactform .submitbtn {
  width: 8.33em;
  display: inline;
}

.contactform #id_private {
  padding: 0.42em;
  display: inline;
  width: 25%;
}

.filterform input {
  width: 10em;
  border: 0.08em solid #999;
}

.filterform input:focus {
  border: 0.08em solid #000;
}

.filterform button {
  padding-right: 0.25em;
  padding-left: 0.25em;
  padding-top: 0em;
  padding-bottom: 0em;
}

.sha1form input, .sha1form textarea, .sha1formtext {
  width: 31.25em;
  max-width: 100%;
  display: block;
  border: 0.08em solid #999;
}

.sha1formtext:focus {
  border: 0.08em solid #000;
}

.sha1btn {
  padding: 0.42em;
}

.oembedded {
  opacity: 1.0;
  margin: 0.83em;
  border-style: solid;
  border-radius: 0.42em;
  border-width: 0.17em;
  border-color: #fff;
  background-color: #f0f0f0;
  padding: 0.42em;
}

.oembedded > li {
  border-style: solid;
  border-width: 0.17em;
  border-color: #000;
  border-radius: 0.42em;
  margin-bottom: 0.17em;
  padding: 0.42em;
  background-color: #ffffff;
}

.oembedded .content {
  background-color: #ffffff;
}

.oembedded a:hover {color: #888;}
.oembedded .lastfmnp {color: #C00000;} 
.oembedded .embedsc iframe {max-height: 8.33em;}

.oembedded .embedsimple {
  padding: 0.83em;
  padding-left: 10%;
  padding-right: 10%;
}

.oembedded .embedsc {
  padding-left: 10%;
  padding-right: 20%;
}

.oembedded .embed-photo {
  padding: 0.83em;
  padding-left: 10%;
  padding-right: 20%;
}

.oembedded .embed-photo img {
  border-radius: 0.42em;
  margin: 0.83em;
  max-width: 17.75em;
}

.oembedded .imgur img {
  max-width: 25em;
  width: 25em;
}

.oembedded .embed-photo .flickrdesc {
  padding: 0.83em;
}

/*
.flickrdesc div, .flickrdesc a, .flickrdesc p {
  color: #ffffff;
}
*/

.oembedded .space {
  padding-bottom: 0.42em;
  padding-left: 1.67em;
  padding-right: 1.67em;
  max-width: 85%;
}

.oembedded li.embedsimple {
  border-color: #000000;
}

.oembedded li.twitter {
  border-color: #002280; /*#0044ff #002280*/
}

.oembedded li.imgur {
  border-color: #426012; /*#85bf25 #426012*/
}

.oembedded li.lastfm {
  border-color: #800000; /*#ff0000 #800000*/
}

.oembedded li.soundcloud {
  border-color: #804400; /*#ff8800 #804400*/
}

.oembedded li.flickr {
  /*background-color: #000000;*/
  border-color: #990099; /*#cc22cc #661166*/
}

.oembedded li.github {
  border-color: #666666;
}

.oembedded li.blog {
  border-color: #000000;
}

.table-pad {
  padding-left: 0.83em;
  padding-right: 0.83em;
}
