html, body {
  min-width: 56.25em;
}

.body {
  margin: 0.83em;
  margin-top: 1.67em;
  border-style: solid;
  border-width: 0.17em;
  border-color: #ffffff;
  border-radius: 0.42em;
}

.wide {
  margin-left: 9%;
  margin-right: 9%;
}

.medium {
  margin-left: 18%;
  margin-right: 18%;
}

.narrow {
  margin-left: 27%;
  margin-right: 27%;
}

.sub-medium {
  margin-left: 9%;
  margin-right: 27%;
}

.sub-narrow {
  margin-left: 9%;
  margin-right: 45%;
}

.content {
  padding-top: 0.83em;
  padding-bottom: 0.83em;
  padding-left: 1.67em;
  padding-right: 1.67em;
}

/* -------------- NAVBAR -------------- */

#navbar {
  background-color: #000;
  padding-left: 1.67em;
  padding-right: 1.67em;
}

#navbar a {
  color: #fff;
  padding: 1em;
  line-height: 3.33em;
}

.navtop li {
  position: relative;
  display: inline;
}

.navtop ul {
  white-space: nowrap;
  position: absolute;
  display: none;
  z-index: 10;
  margin-top: -0.042em;
}

.navtop ul li {
  display: block;
}

.navtop li:hover ul {
  display: block;
  background-color: #000;
}

#navbar li:hover > a {
  color: #000;
  background-color: #e0e0e0;
}

.navtop ul li:hover {
  background-color: #e0e0e0;
}
