.footspace {
  padding: 6.25em;
}

#footer {
  position: relative;
  margin-top: -1.55em;
  height: 1.55em;
  clear: both;
}

.foottop li {
  display: inline;
}

#footbar {
  background-color: #000;
  color: #fff;
  padding: 0.17em;
  padding-left: 1.67em;
  padding-right: 1.67em;
}

#footbar li {
  padding: 0.17em;
  color: #fff;
}

#footbar a {
  padding: 0.17em;
  color: #fff;
}

#footbar a:hover {
  background-color: #e0e0e0;
  color: #000;
}
