.footspace {
  padding: 75px;
}

#footer {
  position: relative;
  margin-top: -19px;
  height: 19px;
  clear: both;
}

#footbar {
  background-color: #000;
  color: #fff;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
}

#footbar li {
  padding: 2px;
  color: #fff;
}

#footbar a {
  padding: 2px;
  color: #fff;
}

#footbar a:hover {
  background-color: #e0e0e0;
  color: #000;
}
