/* http://www.w3schools.com/html/html_colors.asp */
/* http://www.w3schools.com/cssref/css_selectors.asp */

/* -------------- GENERAL -------------- */

/*
black = #000
white = #fff
light grey = #c0c0c0
dark grey = #444
*/

html, body {
  margin: 0px;
  padding: 0px;
  background-color: #888;
  color: #000;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
}

img, div, ul, li, p, a, table, tr, td, form {
  color: #000;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
}

a:hover {color: #fff;}

table {width: 100%;}
img {max-width: 100%;}
.tdtitle {width: 75%;}

/* -------------- NAVBAR -------------- */

#navbar {
  background-color: #000;
  color: #fff;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
}

#navbar a { color: #fff; padding: 0px; }
#navbar li { padding: 3px; }
#navbar li:hover { background-color: #e0e0e0; }
#navbar li:hover > a { color: #000; }

.navtop a {
  padding: 2px;
}

.navtop li {
  position: relative;
  display: inline;
}

.navtop ul li {
  display: block;
  z-index: 10;
}

.navtop ul {
  white-space: nowrap;
  position: absolute;
  display: none;
  margin-top: 2px;
}

.navtop li:hover ul {
  left: 0px;
  display: block;
  z-index:10;
  background-color: #000;
}

/* -------------- BODY -------------- */

#bodywrap {
  background-image: url('/static/img/backgrounds/bg.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 100%;
}

.body {
  margin: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
}

.wide {
  margin-left: 90px;
  margin-right: 90px;
}

.medium {
  margin-left: 180px;
  margin-right: 180px;
}

.narrow {
  margin-left: 270px;
  margin-right: 270px;
}

.content {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  /*
  background-image: url('/static/img/backgrounds/27.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  */
  background-color: #e0e0e0;
  word-wrap: break-word;
}

.bannerphoto {
  width: 100%;
}

.helpbox {
  text-align: left;
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
  border-color: #ffffff;
  margin-top: 2px;
  padding: 5px;
  z-index: 20;
  background-color: #e0e0e0;
  position: absolute;
  display: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
}

.hbnarrow {
  width: 140px;
}

.hbmedium {
  width: 200px;
}

.hbwide {
  width: 300px;
}

.hoverhelp:hover .helpbox {
  display: block;
}

.left {float: left;}
.right {float: right;}
.clear {clear: both;}

.inline {display: inline;}
.textleft {text-align: left;}
.textright {text-align: right;}
.textcenter {text-align: center;}
.filterwidth {width: 185px;}

.inbetween {
  opacity: 0.8;
}

.fieldWrapper {
  padding-top: 5px;
  padding-bottom: 5px;
}

.contactform input {
  width: 375px;
  max-width: 100%;
  display: block;
  border: 1px solid #999;
}

.contactform textarea {
  width: 375px;
  height: 150px;
  display: block;
  max-width: 100%;
}

.contactform input:focus, .contactform textarea:focus {
  border: 1px solid #ffffff;
}

.alert input, .alert textarea {
  border-color: red;
}

.contactform .submitbtn {
  padding: 5px;
  width: 100px;
  display: inline;
}

.contactform #id_private {
  padding: 5px;
  display: inline;
}

/* -------------- FOOTER -------------- */

.footspace {
  padding: 75px;
}

#footer {
  position: relative;
  margin-top: -19px;
  height: 19px;
  clear: both;
}

#footbar {
  background-color: #000;
  color: #fff;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
}

#footbar li {
  padding: 2px;
  color: #fff;
}

#footbar a { padding: 2px; color: #fff; }
#footbar a:hover { background-color: #e0e0e0; color: #000; }
