/* http://www.w3schools.com/html/html_colors.asp */
/* http://www.w3schools.com/cssref/css_selectors.asp */

/* -------------- GENERAL -------------- */

/*
black = #000
white = #fff
light grey = #c0c0c0
dark grey = #444
*/

html, body {
  margin: 0px;
  padding: 0px;
  background-image: url('/static/img/backgrounds/13.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #444;
  color: #000;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
}

div, ul, li, p, a, table, tr, td {
  color: #000;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
}

a:hover {color: #fff;}

table {width: 100%;}
.tdtitle {width: 80%;}

/* -------------- NAVBAR -------------- */

#navbar {
  background-color: #000;
  color: #fff;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

#navbar a { color: #fff; padding: 0px; }
#navbar li { padding: 3px; }
#navbar li:hover { background-color: #444; }

.navtop a {
  padding: 2px;
}

.navtop li {
  color: #fff;
  position: relative;
  display: inline;
}

.navtop ul li {
  display: block;
  z-index: 10;
}

.navtop ul {
  white-space: nowrap;
  position: absolute;
  display: none;
  margin-top: 2px;
}

.navtop li:hover ul {
  left: 0px;
  display: block;
  z-index:10;
  background-color: #000;
}

/* -------------- BODY -------------- */

.body-normal {
  margin-top: 10px;
  margin-left: 90px;
  margin-right: 90px;
  border-style: solid;
  border-width: 5px;
  border-color: #ffffff;
  border-radius: 5px;
}

.body-narrow {
  margin-top: 10px;
  margin-left: 180px;
  margin-right: 180px;
  border-style: solid;
  border-width: 5px;
  border-color: #ffffff;
  border-radius: 5px;
}

.content {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  /* background-image: url('/static/img/backgrounds/27.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top; */
  background-color: #e0e0e0;
  word-wrap: break-word;
}

.inline {display: inline;}
.textleft {text-align: left;}
.textright {text-align: right;}

.inbetween {
  opacity: 0.8;
}

/* -------------- FOOTER -------------- */

#bodywrap {
  min-height: 100%;
}

#footspace {
  padding: 50px;
}

#footer {
  position: relative;
  margin-top: -19px;
  height: 19px;
  clear: both;
}

#footbar {
  background-color: #000;
  color: #fff;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
}

#footbar li {
  padding: 2px;
}

#footbar a { padding: 2px; color: #fff; }
#footbar a:hover { background-color: #444; }
