/* http://www.w3schools.com/html/html_colors.asp */
/* http://www.w3schools.com/cssref/css_selectors.asp */

/* -------------- GENERAL -------------- */

/*
black = #000
white = #fff
light grey = #c0c0c0
dark grey = #444
*/

body {
  margin: 0px;
  padding: 0px;
  background-image: url('/static/img/backgrounds/2.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #444;
  color: #000;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
}

div, ul, li, p, a {
  color: #000;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
}

a:hover {color: #fff}

/* -------------- NAVBAR -------------- */

#navbar {
  background-color: #000;
  color: #fff;
  padding: 3px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

#navbar .left {
  padding-left: 10px;
  float: left;
}

#navbar .right {
  padding-right: 10px;
  float: right;
}

#navbar .clear {
  clear: both;
}

#navbar a { padding: 3px; color: #fff; }
#navbar a:hover { background-color: #444; }

.navtop li {
  position: relative;
  margin-top: 5px;
  display: inline;
}

.navtop ul li {
  display: block;
  z-index: 10;
}

.navtop ul {
  white-space: nowrap;
  position: absolute;
  display: none;
}

.navtop li:hover ul { left: 0px; display: block; }
.navtop li:hover a { background-color: #000; }
.navtop a:hover { background-color: #444; }

/* -------------- BODY -------------- */

#body {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 90px;
  margin-right: 90px;
}

#body .content {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  /* background-image: url('/static/img/backgrounds/27.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top; */
  background-color: #e0e0e0;
  word-wrap: break-word;
}

#body .inbetween {
  opacity: 0.8;
}
