.body {
  margin-top: 1.67em;
}

.content {
  padding-top: 1.67em;
  padding-bottom: 1.67em;
  padding-left: 3.33em;
  padding-right: 3.33em;
}

/* -------------- NAVBAR -------------- */

#mobile_navbar {
  background-color: #000;
  padding-left: 1.67em;
  padding-right: 1.67em;
}

#mobile_navbar a {
  color: #fff;
  padding: 0.92em;
  line-height: 3.33em;
}

.mobile_navtop li {
  position: relative;
  display: inline;
}

.mobile_navtop ul {
  white-space: nowrap;
  position: absolute;
  display: none;
  z-index: 10;
  margin-top: -0.125em;
}

.mobile_navtop ul li {
  display: block;
}

.mobile_navtop ul {
  background-color: #000;
}

#mobile_navbar li:hover > a {
  color: #000;
  background-color: #e0e0e0;
}

.mobile_navtop ul li:hover {
  background-color: #e0e0e0;
}
