.body {
  margin-top: 20px;
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

/* -------------- NAVBAR -------------- */

#mobile_navbar {
  background-color: #000;
  padding-left: 20px;
  padding-right: 20px;
}

#mobile_navbar a {
  color: #fff;
  padding: 11px;
  line-height: 40px;
}

.mobile_navtop li {
  position: relative;
  display: inline;
}

.mobile_navtop ul {
  white-space: nowrap;
  position: absolute;
  display: none;
  z-index: 10;
  margin-top: -1.5px;
}

.mobile_navtop ul li {
  display: block;
}

.mobile_navtop ul {
  background-color: #000;
}

#mobile_navbar li:hover > a {
  color: #000;
  background-color: #e0e0e0;
}

.mobile_navtop ul li:hover {
  background-color: #e0e0e0;
}
