{% extends 'base.html' %}

{% block title %}<title>{{ SITENAME }} - AJAX</title>{% endblock %}

{% block script %}
  {% load dajaxice_templatetags %}
  {% dajaxice_js_import %}
{% endblock %}


{% block content %}
<div class="body wide">
    <div class="content">
        <h1>AJAX Example</h1>
        <noscript>
          <p>You need to enable Javascript for this to work.</p>
        </noscript>
    </div>

    <div class="content inbetween"></div>

    <div class="content">
        <div id="hide" class="aligncenter">
            <p class="textcenter"><strong>Making API Calls...</strong></p>
            <img class="aligncenter" src="/static/img/gorillaz_loading.gif" height="150px;"/>
        </div>
        <ul id="embeds" class="oembedded" style="display: none;"></ul>
    </div>
</div>

<script language="javascript">
function callback(data) {
    document.getElementById("hide").style.display = "none";
    document.getElementById("embeds").style.display = "block";
    var ni = document.getElementById('embeds');
    data.embeds.forEach(function(embed) {
        var newdiv = document.createElement('li');
        newdiv.setAttribute('id', embed.date);
        if (embed.type == "lastfm") {
            newdiv.setAttribute('class', 'embedsimple lastfmbg');
            var embednowplaying = "Recently listened to";
            if (embed.nowplaying) {
                embednowplaying = "<i class=\"lastfmnp\">Now Playing!</i>";
            }
            newdiv.innerHTML = "<div class=\"right\">" + embednowplaying + " on <a href=\"http://last.fm/user/" + data.USERNAME + "\">Last.fm</a></div><a href=\"" + 
                        embed.url + "\">" + embed.name + " - " + embed.artist + "</a><div class=\"clear\"></div>";
        } else if (embed.type == "soundcloud") {
            newdiv.setAttribute('class', 'embedsc soundcloudbg');
            newdiv.innerHTML = embed.html;
        } else if (embed.type == "flickr") {
            newdiv.setAttribute('class', 'embedflickr flickrbg');
            var embedtitle = "";
            if (embed.title) {
                embedtitle= "<a href=\"http://flickr.com/photos/" + data.USERNAME + "/" + embed.photoid + "\"><h3>" + embed.title + "</h3></a>";
            }
            var embeddescription = "";
            if (embed.description) {
                embeddescription = "<div class=\"flickrdesc\">" + embed.description + "</div>";
            }
            newdiv.innerHTML = "<a href=\"http://flickr.com/photos/" + data.USERNAME + "/" + embed.photoid + "\"><img class=\"right\" src=\"" + embed.imgsrc + "\" /></a>" +
                        "<div class=\"flickrdesc\">" + embedtitle + embeddescription + "<div>From <a href=\"http://flickr.com/" + data.USERNAME + "\">Flickr</a></div>" +
                        "</div><div class=\"clear\"></div>";
        } else if (embed.type == "github") {
            newdiv.setAttribute('class', 'embedsimple githubbg');
            var embedeventtype = "<p>Did some GitHub activity</p>";
            if (embed.event_type == "PushEvent") {
                embedeventtype = "";
                embed.payload.commits.forEach(function(commit) {
                    embedeventtype += "<a href=\"" + embed.repo_url + "/commit/" + commit.sha + "\"><i>" + commit.sha + "</i></a>:" +
                    "<p class=\"space\">" + commit.message + "</p>";
                });
                embedeventtype += "<p>Pushed to <a href=\"" +  embed.repo_url + "\">" + embed.repo.name + "</a></p>";
            } else if (embed.event_type == "WatchEvent") {
                embedeventtype = "<p>Started watching <a href=\"" + embed.repo_url + "\">" + embed.repo.name + "</a></p>";
            } else if (embed.event_type == "CreateEvent") {
                var description = "";
                if (embed.payload.description) {
                    description = "<p class=\"space\">" + embed.payload.description + "</p>";
                }
                embedeventtype = "<p>Created new " + embed.payload.ref_type + ": <i>" + embed.payload.ref + "</i>" + description + 
                    "</p>On <a href=\"" + embed.repo_url +"\">" + embed.repo.name + "</a>";
            } else if (embed.event_type == "CommitCommentEvent") {
                embedeventtype = "<p>Commented on commit <a href=\"" + embed.payload.comment.html_url + "\">" + embed.payload.comment.commit_id + "</a>:" +
                          "<p class=\"space\">" + embed.payload.comment.body + "</p></p>";
            } else if (embed.event_type == "GollumEvent") {
                embedeventtype = "<p>Edited<p class=\"space\">";
                embed.payload.pages.forEach(function(page) {
                    embedeventtype += "<p><a href=\"" + page.html_url + "\">" + page.title + "</a></p>";
                });
                embedeventtype += "</p>On <a href=\"" + embed.repo_url + "\">" + embed.repo.name + "</a></p>";
            }
            newdiv.innerHTML = "<div class=\"right\">From <a href=\"http://github.com/" + data.USERNAME + "\">GitHub</a>" +
                      "</div>" + embedeventtype + "<div class=\"clear\"></div>";
        } else if (embed.type == "twitter") {
            newdiv.setAttribute('class', 'embedsimple twitterbg');
            newdiv.innerHTML = embed.html;
        } else {
            newdiv.setAttribute('class', 'embedsimple embedsimplebg');
            newdiv.innerHTML = embed.html;
        }
        ni.appendChild(newdiv);
    });
}
Dajaxice.sam.views.front_page.soundclouds(callback);
Dajaxice.sam.views.front_page.flickrs(callback);
Dajaxice.sam.views.front_page.tweets(callback);
Dajaxice.sam.views.front_page.githubs(callback);
Dajaxice.sam.views.front_page.lastfms(callback);
//Dajaxice.sam.views.front_page.imgurs(callback);
//Dajaxice.sam.views.front_page.facebooks(callback);
</script>
<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

{% endblock %}
