{% extends 'base.html' %}

{% block title %}<title>{{ SITENAME }} - AJAX</title>{% endblock %}

{% block script %}
  {% load dajaxice_templatetags %}
  {% dajaxice_js_import %}
{% endblock %}


{% block content %}
<div class="body narrow">
    <div class="content">
        <h1>AJAX Example</h1>
        <noscript>
          <p>You need to enable Javascript for this to work.</p>
        </noscript>

        <div id="hide">
          <img src="/static/img/loading.gif">
        </div>
        <div id="show" style="display: none;">
          <p>Show data here!</p>
          <div id="embeds"></div>
          {% comment %}
          {% for embed in embeds %}
            <p>{{ embed }}</p><br />
          {% endfor %}
          {% endcomment %}
        </div>
    </div>
</div>

<script language="javascript">
{% load set_var %}
  function callback(data) {
    document.getElementById("hide").style.display = "none";
    document.getElementById("show").style.display = "block";
    data.forEach(function(embed) {
      var ni = document.getElementById('embeds');
      var newdiv = document.createElement('div');
      newdiv.setAttribute('class', 'oembed');
      newdiv.setAttribute('class', embed.type);
      newdiv.innerHTML = embed.html
      ni.appendChild(newdiv);
      console.log(embed);
    });
  }
  Dajaxice.sam.views.front_page.embeds(callback)
</script>

{% endblock %}
