{% extends 'base.html' %}

{% block content %}
<div class="content">
<h1>Around the Web</h1>
<p>A comprehensive list of everything I am on the interwebs</p>
</div>

<div class="content">
<ul>
<li><a href="http://samolds.com">Sam Olds</a></li>
<li><a href="http://facebook.com/samolds">Facebook</a></li>
<li><a href="http://plus.google.com/+samolds">Google+</a></li>
<li><a href="http://myspace.com/samolds">Myspace</a></li>
<li><a href="http://about.me/samolds">About.me</a></li>
<li><a href="http://flavors.me/samolds">Flavors.me</a></li>
<li><a href="http://samolds.see.me">See.me</a></li>
<li><a href="http://github.com/samolds">GitHub</a></li>
<li><a href="http://twitter.com/samolds">Twitter</a></li>
<li style="display:none;"><a href="http://twitter.com/samuraiolds">Twitter</a></li>
<li style="display:none;"><a href="http://twitter.com/thesamolds">Twitter</a></li>
<li><a href="http://flickr.com/samolds">Flickr</a></li>
<li><a href="http://linkedin.com/in/samolds">LinkedIn</a></li>
<li><a href="http://last.fm/user/samolds">Last.fm</a></li>
<li><a href="http://soundcloud.com/samolds">SoundCloud</a></li>
<li><a href="http://open.spotify.com/user/samolds">Spotify</a></li>
<li><a href="http://samolds.deviantart.com">DeviantArt</a></li>
<li style="display:none;"><a href="http://turntable.fm/sam_olds">Turntable (Public)</a></li>
<li style="display:none;"><a href="http://turntable.fm/4dfa39d199968e58a6005042">Turntable (Private)</a></li>
<li><a href="http://grooveshark.com/samolds">Grooveshark</a></li>
<li><a href="http://vimeo.com/samolds">Vimeo</a></li>
<li><a href="http://youtube.com/samuraiolds">YouTube</a></li>
<li style="display:none;"><a href="http://reddit.com/user/samolds">Reddit</a></li>
<li><a href="http://reddit.com/user/samuraiolds">Reddit</a></li>
<li><a href="http://samolds.imgur.com">Imgur</a></li>
<li><a href="http://samolds.tumblr.com">Tumblr</a></li>
<li><a href="http://stumbleupon.com/stumbler/samolds">StumbleUpon</a></li>
<li><a href="http://myworld.ebay.com/samuraiolds">eBay</a></li>
<li><a href="http://spring.me/samolds">Spring.me</a></li>
<li><a href="http://projectinternet.weebly.com">Project Internet</a></li>
<li><a href="http://samolds.weebly.com">Weebly</a></li>
<li><a href="http://samolds.yolasite.com">YolaSite</a></li>
<li><a href="http://blogs.uw.edu/samolds">UW Personal Blog</a></li>
<li><a href="http://students.washington.edu/samolds">UW Student Page</a></li>
<li><a href="http://staff.washington.edu/samolds">UW Staff Page</a></li>
</ul>
</div>

<div class="content">
<p>Here are the websites that I maintain but are not personally mine</p>
<ul>
<li><a href="http://students.washington.edu/sonnis">UW Sonnis Club</a></li>
</ul>
</div>

<div class="content">
<p>These sites that I have helped develop while employed</p>
<ul>
<li><a href="http://spacescout.uw.edu">SpaceScout</a></li>
</ul>
</div>
{% endblock %}
