{% extends 'base.html' %}

{% block title %}<title>samolds.com - Art</title>{% endblock %}

{% block content %}
<div class="body wide">
  <div class="content">
    <div class="inline">
      <a class="right" href="/art/all">View All Art Work</a>
      <h1 class="left">Some of my Doodles</h1>
      <div class="clear"></div>
    </div>
  </div>

  <div class="content inbetween"></div>

  {% for work in art %}
    <div class="content">

      {% include "art_work_header.html" %}

      <div class="content">
        <img src="/{{ work.image }}" width=50% class="left" />
        <p>{{ work.description|safe }}</p>
        <div class="clear"></div>
      </div>
    </div>

    <div class="content inbetween"></div>
  {% endfor %}

  <div class="content">
    <a href="/art/all">View All Art Work</a>
  </div>
</div>
{% endblock %}
