{% extends 'base.html' %}

{% block title %}<title>samolds.com - All Art Work</title>{% endblock %}

{% block content %}
<div class="body narrow">
<div class="content">
  <table>
    <tr>
      <td class="textleft" rowspan=2><h1>All Art Work</h1></td>
      <td class="textright filterwidth">
        <form class="right" action="/art/filter" method="post">{% csrf_token %}
          {% include "inner_filter_form.html" %}
        </form
      </td>
    </tr>
  </table>
</div>

<div class="content inbetween"></div>

{% for work in art %}
  <div class="content">

    {% include "art_work_header.html" %}

    <div class="content">
      <p>
        {{ work.description|slice:":300"|safe }}...
        <div class="clear"></div>
      </p>
    </div>
  </div>

  <div class="content inbetween"></div>
{% endfor %}

<div class="content"><br /></div>
</div>

{% endblock %}
