<table>
  <tr>
    <td class="textleft tdtitle" rowspan=2><h2><a href="/art/work/{{ post.pk }}">{{ post.name }}</a></h2></td>
    {% load time_localization %}
    <td class="textright"><small>Created <a href="/art/filter/date/{{ post.creation_date.month }}-{{ post.creation_date.day }}-{{ post.creation_date.year }}">{{ post.creation_date|mtn_time }}</a></small></td>
  </tr>
  <tr>
    <td class="textright">
      {% if full_post_stub and post.tags.values %}
        <small>Tags: 
          {% for tag_data in post.tags.values %}
            <a href="/art/filter/tag/{{ tag_data.tag }}">{{ tag_data.tag }}</a>
          {% endfor %}
        </small>
      {% endif %}
    </td>
  </tr>
</table>

<div class="clear"></div>
