<form class="right" action="/art/filter" method="post">{% csrf_token %}
  {{ form.non_field_errors }}
  <table>
    <tr>
      <td><small>{{ form.tag.label_tag }} {{ form.tag }}</small></td>
      <td rowspan=2 class="hoverhelp">
        <input type="submit" value="Filter" />
        <div class="helpbox hbnarrow">
          <ul>
            <li>To filter multiple tags or dates, separate tags or dates with an asterisk (*)</li>
            <br />
            <li>Enter dates in the format of <i>mm-dd-yyyy</i></li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <td><small>{{ form.date.label_tag }} {{ form.date }}</small></td>
    </tr>
  </table>
</form>
