<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta name="content-type" content="text/html; charset=UTF-8" http-equiv="content-type" />
    <meta name="description" content="{{ SITENAME }}: The personal website of {{ PROPER_NAME }}" />
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/basic.css" rel="stylesheet">
    {% if is_mobile %}
      <link href="{{ STATIC_URL }}css/mobile.css" rel="stylesheet">
    {% else %}
      <link href="{{ STATIC_URL }}css/desktop.css" rel="stylesheet">
    {% endif %}
    <link href="{{ STATIC_URL }}css/footer.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}img/favicon.ico" rel="icon" type="image/x-icon">
    <title>{{ SITENAME }}{% block title %}{% endblock %}</title>
    {% block script %}{% endblock %}
</head>
<body>
    <div id="bodywrap">
      {% if not is_mobile %}
        {% include "nav_bar.html" %}
      {% else %}
        {% include "mobile_nav_bar.html" %}
      {% endif %}
      {% block content %}{% endblock %}
      <div class="footspace"></div>
    </div>
    <div id="footer">
      {% include "footer.html" %}
    </div>
</body>
</html>
