<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!--<link href="static/css/base.css" rel="stylesheet">-->
    <!--<script src="static/js/dropdown.js" type="text/javascript">-->
    <link href="static/css/layouts.css" rel="stylesheet">
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
    <title>samolds.com</title>
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>
<body>
    {% include "nav_bar.html" %}
    <div id="body">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
