{% extends 'base.html' %}

{% block content %}
<div class="content">
<h1>All posts tagged with "{{ tag }}"</h1>
</div>
<br />


{% if exists %}
{% for post in posts %}
<div class="content">
<h2><a href="/blog/post/{{ post.pk }}">{{ post.title }}</a></h2>
<small>{{ post.creation_date }}</small>
<br />

Tags: 
{% for tag_data in post.tags.values %}
<a href="/blog/filter/{{ tag_data.tag }}">{{ tag_data.tag }}</a> 
{% endfor %}
</p>
</div>

<br />
{% endfor %}
{% else %}
<div class="content">
<p>There are no posts with that tag</p>
</div>
<br />
{% endif %}


<div class="content">
<a href="/blog">Back To Blog</a>
</div>

{% endblock %}
