<table {% if full_post_page %}class="content-header"{% endif %}>
  <tr>
    {% if full_post_page %}
      <td class="textleft tdtitle" rowspan=3><a href="/blog/post/{{ post.pk }}"><h1>{{ post.title }}</h1></a></td>
    {% else %}
      <td class="textleft tdtitle" rowspan=3><a href="/blog/post/{{ post.pk }}"><h2>{{ post.title }}</h2></a></td>
    {% endif %}
    {% load time_localization %}
    <td class="textright post-header-right">
      {% if full_post_stub or not full_post_stub and post.creation_date|to_str == post.updated_date|to_str %}
        <small>Created <a href="/blog/filter/date/{{ post.creation_date.month }}-{{ post.creation_date.day }}-{{ post.creation_date.year }}">{{ post.creation_date|mtn_time }}</a></small>
      {% endif %}
    </td>
  </tr>
  <tr>
    <td class="textright post-header-right">
      {% if not post.creation_date|to_str == post.updated_date|to_str %}
        <small>Updated <a href="/blog/filter/date/{{ post.updated_date.month }}-{{ post.updated_date.day }}-{{ post.updated_date.year }}">{{ post.updated_date|mtn_time }}</a></small>
      {% endif %}
    </td>
  </tr>
  <tr>
    <td class="textright post-header-right">
      {% if full_post_stub and post.tags.values %}
        <small>
          Tags: 
          {% for tag_data in post.tags.values %}
            <a href="/blog/filter/tag/{{ tag_data.tag }}">{{ tag_data.tag }}</a>
          {% endfor %}
          </small>
      {% endif %}
    </td>
  </tr>
</table>

<div class="clear"></div>
