{% extends 'base.html' %}

{% block title %} - Blog{% endblock %}

{% block content %}
<div class="body wide">
  <div class="content">
    <div class="inline">
      <a class="right" href="/blog/archive">View Blog Archive</a>
      <h1 class="left">Thoughts, Stories, and Ideas</h1>
      <div class="clear"></div>
      <small class="left">A Public Journal</small>
      <div class="clear"></div>
    </div>
  </div>

  <div class="content inbetween"></div>

  {% for post in posts %}
    <div class="content">
      {% include "blog_post_stub.html" %}
    </div>

    <div class="content inbetween"></div>
  {% endfor %}

  <div class="content">
    <a href="/blog/archive">View Blog Archive</a>
  </div>
</div>

{% endblock %}
