{% extends 'base.html' %}

{% block content %}
<div class="body-narrow">
<div class="content">

  <div class="inline">
    <form class="right" action="/blog/filter" method="post">{% csrf_token %}
        {{ form.non_field_errors }}
        <table>
        <tr>
        <td><small>{{ form.tag.label_tag }} {{ form.tag }}</small></td>
        <td rowspan=2><input type="submit" value="Filter" /></td>
        </tr>
        <tr>
        <td><small>{{ form.date.label_tag }} {{ form.date }}</small></td>
        </tr>
        </table>
    </form>
    <h1 class="left">All posts tagged with '{{ tag }}'</h1>
    <div class="clear"></div>
  </div>

</div>

<div class="content inbetween"></div>

{% if exists %}
{% for post in posts %}
  <div class="content">
  <table>
    <tr>
      <td class="textleft tdtitle" rowspan=2><h2><a href="/blog/post/{{ post.pk }}">{{ post.title }}</a></h2></td>
      <td class="textright"><small>{{ post.creation_date }}</small></td>
    </tr>
    {% if not post.creation_date.ctime == post.updated_date.ctime %}
    <tr>
      <td class="textright"><small>{{ post.updated_date }}</small></td>
    </tr>
    {% endif %}
  </table>

  <p class="textright"><small>Tags: 
  {% for tag_data in post.tags.values %}
  <a href="/blog/filter/{{ tag_data.tag }}">{{ tag_data.tag }}</a>
  {% endfor %}
  </small></p>

    <div class="content">
      <p>
        {{ post.content|slice:":300"|safe }}...
        <div class="clear"></div>
      </p>
    </div>
  </div>

  <div class="content inbetween"></div>
{% endfor %}
{% else %}
<div class="content">
<p>There are no posts with that tag</p>
</div>

<div class="content inbetween"></div>
{% endif %}


<div class="content">
<a href="/blog/all">Back To Blog</a>
</div>
</div>

{% endblock %}
