{% extends 'base.html' %}

{% block title %}<title>samolds.com - Blog</title>{% endblock %}

{% block content %}
<div class="body wide">
  <div class="content">
    <div class="inline">
      <a class="right" href="/blog/all">View All Posts</a>
      <h1 class="left">Thoughts, Stories, Ideas</h1>
      <div class="clear"></div>
    </div>
  </div>

  <div class="content inbetween"></div>

  {% for post in posts %}
    <div class="content">

      {% include "blog_post_header.html" %}

      <p class="textright">
        <small>
          {% for tag_data in post.tags.values %}
            <a href="/blog/filter/tag/{{ tag_data.tag }}">{{ tag_data.tag }}</a>
          {% endfor %}
        </small>
      </p>

      <div class="content">
        <p>{{ post.content|safe}}</p>
        <div class="clear"></div>
      </div>
    </div>

    <div class="content inbetween"></div>
  {% endfor %}

  <div class="content">
    <a href="/blog/all">View All Posts</a>
  </div>
</div>

{% endblock %}
