{% extends 'base.html' %}

{% block title %}<title>samolds.com - Blog Post</title>{% endblock %}

{% block content %}

<div class="body wide">
{% if exists %}
  {% if post %}
    <div class="content">

      <table>
        <tr>
          <td class="textleft tdtitle" rowspan=2><h1><a href="/blog/post/{{ post.pk }}">{{ post.title }}</a></h1></td>
          {% load time_localization %}
          <td class="textright"><small>Created on <a href="/blog/filter/date/{{ post.creation_date|mtn_time:"month" }}-{{ post.creation_date|mtn_time:"day" }}-{{ post.creation_date|mtn_time:"year" }}">{{ post.creation_date|mtn_time }}</a></small></td>
        </tr>
        {% if not post.creation_date.ctime == post.updated_date.ctime %}
          <tr>
            <td class="textright"><small>Updated on <a href="/blog/filter/date/{{ post.updated_date|mtn_time:"month" }}-{{ post.updated_date|mtn_time:"day" }}-{{ post.updated_date|mtn_time:"year" }}">{{ post.updated_date|mtn_time }}</a></small></td>
          </tr>
        {% endif %}
      </table>

      {% if post.tags.values %}
      <p class="textright"><small>Tags: 
        {% for tag_data in post.tags.values %}
          <a href="/blog/filter/tag/{{ tag_data.tag }}">{{ tag_data.tag }}</a>
        {% endfor %}
      </small></p>
      {% endif %}

      <div class="content">
        <p>{{ post.content|safe }}</p>
        <br />

        {% if post.image.image %}
          <p><img src="/{{ post.image.image }}" /></p>
          <br />
        {% endif %}

        {% if post.embedded_link %}
          <p>{{ post.embedded_link|safe }}</p>
          <br />
        {% endif %}
      </div>
      
      <a class="right" href="/blog">Back To Blog</a>
      <div class="clear"></div>

    </div>
    <div class="content inbetween"><br /></div>

    {% if post.comments.values %}
      <div class="content">
        <div class="content">
          <div class="content">
            <div class="content">
              <h2>Comments</h2>

              {% for comment_data in post.comments.values %}
                {% if not comment_data.private %}
                  <div class="content">
                    <table>
                      <tr>
                        <td class="textleft tdtitle" rowspan=2><h3>{{ comment_data.subject }}</h3></td>
                        <td class="textright"><small>{{ comment_data.name }}</small></td>
                      </tr>
                      <tr>
                        <td class="textright"><small>{{ comment_data.date }}</small></td>
                      </tr>
                    </table>
                    <div class="content">{{ comment_data.message }}</div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="content inbetween"></div>
    {% endif %}

    <div class="content">
      <div class="content">
        <div class="content">
          <div class="content"><h2>Leave a Comment</h2>
            <div class="content">
              <form action="/blog/post/{{ post.pk }}" method="post">{% csrf_token %}
                {% include "comment_inners.html" %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% else %}
    <div class="content">
    <h1>This blog post has been marked as private!</h1>
    </div>
  {% endif %}
{% else %}
  <div class="content">
  <h1>This blog post has been moved or deleted! Oops.</h1>
  </div>
{% endif %}

<div class="content inbetween"></div>

<div class="content">
<a href="/blog">Back To Blog</a>
</div>
</div>

{% endblock %}
