{% extends 'base.html' %}

{% block title %} - Blog Post{% endblock %}

{% block content %}

{% if exists %}
  {% if post %}
    <div class="body wide">
      {% if banner_photo %}
        <div class="bannerphoto" style="background-image: url('{{ MEDIA_URL }}{{ banner_photo.image }}');">
            <div class="bannerfiller"></div>
        </div>
      {% endif %}
      <div class="content">

        {% include "blog_post_header.html" %}
        {% include "blog_post_inners.html" %}
        
        <a class="right" href="/blog">Back To Blog</a>
        <div class="clear"></div>

      </div>
    </div>

    <div class="body sub-medium">
      {% if post.comments.values %}
        <div class="content">
          <div class="content">
            <div class="content">
              <h2>Comments</h2>
              {% for comment_data in post.comments.values %}
                {% include "comment_data.html" %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="content inbetween"></div>
      {% endif %}

      <div class="content">
        <div class="content">
          <div class="content">
            <h2>Leave a Comment</h2>
            <div class="content">
              <form class="contactform" action="/blog/post/{{ post.pk }}" method="post">{% csrf_token %}
                {% include "comment_inners.html" %}
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="content inbetween"></div>

      <div class="content">
      <a href="/blog">Back To Blog</a>
      </div>

    </div>

  {% else %}
    <div class="body narrow">
      <div class="content">
        <h1>This blog post has been marked as private!</h1>
      </div>

      <div class="content inbetween"></div>

      <div class="content">
        <a href="/blog">Back To Blog</a>
      </div>
    </div>
  {% endif %}
{% else %}
  <div class="body narrow">
    <div class="content">
      <h1>This blog post has been moved or deleted! Oops.</h1>
    </div>

    <div class="content inbetween"></div>

    <div class="content">
      <a href="/blog">Back To Blog</a>
    </div>
  </div>
{% endif %}

{% endblock %}
