{{ form.non_field_errors }}
{% for field in form %}
    {% if field.name == "email_confirmation" %}
        <div style="display: None;">
            LEAVE BLANK {{ field }}
        </div>
    {% else %}
        <div class="fieldWrapper">
            {% load form_placeholder %}
            {% if field.errors %}
              {% for error in field.errors %}
                  <div class="alert">{{ field.label_tag }}{{ field|updt_plchdr:error|escape }}</div>
              {% endfor %}
            {% else %}
              {{ field.label_tag }}{{ field }}
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
<div class="hoverhelp">
  <input class="submitbtn" type="submit" value="Comment" />
  <div class="helpbox hbwide">
    <ul>
      <li>Every comment posted will send me an email. If you would like me to reply, please let me know and include your email address.</li>
      <br />
      <li>Leaving <i>private</i> unchecked will allow for the comment to be publicly displayed here. Otherwise, only an email will be sent to me and the comment will not be publicly displayed.</li>
    </ul>
  </div>
</div>
