{% extends 'base.html' %}

{% block content %}
<div class="body-narrow">
<!--
<div class="content">
<h1>Need to Contact Me?</h1>
<div class="content">
<p>Here will be a form for contacting me</p>
<p>Put something about hiring me to show up at your event, even though I have no special skills.</p>
<p>Photography bookings?</p>

<p>
<ul>
<li>Use the form I built for SpaceScout</li>
<li>Name</li>
<li>Reason for Contacting</li>
<li>Message</li>
<li>Submit</li>
<li>Send to thanks page?</li>
</ul>
</p>
</div>
</div>
-->


<div class="content">
  {% if post %}
    <h1>{{ post.title }}</h1>

    <div class="content">
      <p>{{ post.content|safe }}</p>
      <div class="clear"></div>
      <br />

      {% if post.image.image %}
        <p><img src="/{{ post.image.image }}" /></p>
        <br />
      {% endif %}

      {% if post.embedded_link %}
        <p>{{ post.embedded_link|safe }}</p>
      {% endif %}
    </div>
  {% endif %}
</div>


<div class="content inbetween"></div>

<div class="content">
<form action="/contact" method="post">{% csrf_token %}
    <div class="fieldWrapper">
    </div>
    {{ form.non_field_errors }}
    {% for field in form %}
        {% if field.name == "email_confirmation" %}
            <div style="display: None;">
                LEAVE BLANK {{ field }}
            </div>
        {% else %}
            <div class="fieldWrapper">
                {{ field.label_tag }}{{ field }}
                {% for error in field.errors %}
                    <strong class="alert">{{ error|escape }}</strong>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
    <input type="submit" value="Send" />
</form>
</div>

<div class="content inbetween"><br /><br /></div>
<div class="content">
  <div class="content">
    <h1>Site Comments:</h1>
  </div>

  {% for comment_data in post.comments.values %}
    {% if not comment_data.private %}
      <div class="content">
        <table>
          <tr>
            <td class="textleft tdtitle" rowspan=2><h3>{{ comment_data.subject }}</h3></td>
            <td class="textright"><small>{{ comment_data.name }}</small></td>
          </tr>
          <tr>
            <td class="textright"><small>{{ comment_data.date }}</small></td>
          </tr>
        </table>
        <div class="content">{{ comment_data.message }}</div>
      </div>
    {% endif %}
  {% endfor %}
</div>
</div>
{% endblock %}
