{% extends 'base.html' %}

{% block content %}
<h1>Need to Contact Me?</h1>
<p>Here will be a form for contacting me</p>
<p>Put something about hiring me to show up at your event, even though I have no special skills.</p>
<p>Photography bookings?</p>

<p>
<ul>
<li>Use the form I built for SpaceScout</li>
<li>Name</li>
<li>Reason for Contacting</li>
<li>Message</li>
<li>Submit</li>
<li>Send to thanks page?</li>
</ul>
</p>

<form action="/contact" method="post">{% csrf_token %}
    <div class="fieldWrapper">
    </div>
    {{ form.non_field_errors }}
    {% for field in form %}
        {% if field.name == "email_confirmation" %}
            <div style="display: None;">
                LEAVE BLANK {{ field }}
            </div>
        {% else %}
            <div class="fieldWrapper">
                {{ field.label_tag }}{{ field }}
                {% for error in field.errors %}
                    <strong class="alert">{{ error|escape }}</strong>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
    <input type="submit" value="Send" />
</form>

{% endblock %}
