<div id="footbar">
  <ul class="navtop right">
    <li><a href="/contact">Contact Me</a></li>
  </ul>
  
  <ul class="navtop left">
    <li>&copy; 2014</li>
    <li class="hoverhelp">{{ PROPERNAME }}
      <div class="helpbox hbnarrow hbtop">
        <p>None of the thoughts, views, or opinions expressed (other than where explicitly stated) are those of my employers, superiors, or peers. They are solely mine, {{ PROPERNAME }}.</p>
      </div>
    </li>
  </ul>

  <div class="navtop clear"></div>
</div>
