{% extends 'base.html' %}

{% block title %}<title>{{ SITENAME }} - The Front Page</title>{% endblock %}

{% block script %}
  {% load dajaxice_templatetags %}
  {% dajaxice_js_import %}
  <script async="" src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="{{ STATIC_URL }}js/embed.js" language="javascript" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="body wide">
  <div class="content">
    <div class="right">
      <p>Display:</p>
      <small>
        <table>
          <tr>
            <td><label for="facebook-toggle">Facebook</label></td>
            <td><input id="facebook-toggle" name="facebook-toggle" type="checkbox" checked="checked" onclick="toggleDisplay('facebook')"/></td>
            <td></td>
            <td><label for="flickr-toggle">Flickr</label></td>
            <td><input id="flickr-toggle" name="flickr-toggle" type="checkbox" checked="checked" onclick="toggleDisplay('flickr')"/></td>
          </tr>
          <tr>
            <td><label for="github-toggle">Github</label></td>
            <td><input id="github-toggle" name="github-toggle" type="checkbox" checked="checked" onclick="toggleDisplay('github')"/></td>
            <td></td>
            <td><label for="imgur-toggle">Imgur</label></td>
            <td><input id="imgur-toggle" name="imgur-toggle" type="checkbox" checked="checked" onclick="toggleDisplay('imgur')"/></td>
          </tr>
          <tr>
            <td><label for="lastfm-toggle">LastFm</label></td>
            <td><input id="lastfm-toggle" name="lastfm-toggle" type="checkbox" checked="checked" onclick="toggleDisplay('lastfm')"/></td>
            <td class="table-pad"></td>
            <td><label for="soundcloud-toggle">Soundcloud</label></td>
            <td><input id="soundcloud-toggle" name="soundcloud-toggle" type="checkbox" checked="checked" onclick="toggleDisplay('soundcloud')"/></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td class="table-pad"></td>
            <td><label for="twitter-toggle">Twitter</label></td>
            <td><input id="twitter-toggle" name="twitter-toggle" type="checkbox" checked="checked" onclick="toggleDisplay('twitter')"/></td>
          </tr>
        </table>
      </small>
    </div>
    <h1>The Front Page of {{ PROPERNAME }}</h1>
    <small>A central page for my most prominent profiles</small>

    <div class="clear"></div>
  </div>
  {% comment %}
  <div class="content inbetween"></div>

  <div class="content">Included in this page:
    <ul class="content">
      <li>Most Recent Scrobbles from Last.fm</li>
      <li>Tweets and Retweets from me</li>
      <li>Song that I have 'liked' on SoundCloud</li>
      <li>The most recent photos I have posted to Flickr</li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="content">
    <p>
      I had the idea of interleaving a lot of the activity from several profiles and social media sites into one central page back in early 2013. A few days later, I discovered <a href="http://flavors.me">flavors.me</a>, which is exactly what I was trying to do. Oh well, at least I have finally completed my own flavor of flavors.me. heh heh heh
    </p>
  </div>
  <div class="content">
    <p>
      Elements of this page might be delayed relative to their origin. Please visit my Facebook, Twitter, Flickr, Last.fm, or GitHub profiles for the most up to date activity.
    </p>
    <p>
      This page only contains a events from the last week.
    </p>
  </div>

  <div class="content inbetween"></div>

  <div class="content">
    {% if embeds %}
      <ul class="oembedded">
        {% for embed in embeds %}
          {% if embed.type == "lastfm" %}
            <li class="embedsimple lastfmbg">
              <div class="right">
                {% if embed.nowplaying %}
                  <i class="lastfmnp">Now Playing!</i>
                {% else %}
                  Recently listened to
                {% endif %}
                on <a href="http://last.fm/user/{{ USERNAME }}">Last.fm</a>
              </div>
              <a href="{{ embed.url }}">{{ embed.name }} - {{ embed.artist }}</a>
              <div class="clear"></div>
            </li>
          {% elif embed.type == "soundcloud" %}
            <li class="embedsc soundcloudbg">{{ embed.html|safe }}</li>
          {% elif embed.type == "flickr" %}
            <li class="embedflickr flickrbg">
              <a href="http://flickr.com/photos/{{ USERNAME }}/{{ embed.photoid }}"><img class="right" src="{{ embed.imgsrc }}" /></a>
              <div class="flickrdesc">
                  {% if embed.title %}
                    <a href="http://flickr.com/photos/{{ USERNAME }}/{{ embed.photoid }}"><h3>{{ embed.title }}</h3></a>
                  {% endif %}
                  {% if embed.description %}
                    <div class="flickrdesc">{{ embed.description|safe }}</div>
                  {% endif %}
                <div>From <a href="http://flickr.com/{{ USERNAME }}">Flickr</a></div>
              </div>
              <div class="clear"></div>
            </li>
          {% elif embed.type == "github" %}
            <li class="embedsimple githubbg">
              <div class="right">
                From <a href="http://github.com/{{ USERNAME }}">GitHub</a>
              </div>
              {% if embed.event_type == "PushEvent" %}
                {% for commit in embed.payload.commits %}
                  <a href="{{ embed.repo_url }}/commit/{{ commit.sha }}"><i>{{ commit.sha }}</i></a>:
                  <p class="space">{{ commit.message }}</p>
                {% endfor %}
                <p>Pushed to <a href="{{ embed.repo_url }}">{{ embed.repo.name }}</a></p>
              {% elif embed.event_type == "WatchEvent" %}
                <p>Started watching <a href="{{ embed.repo_url }}">{{ embed.repo.name }}</a></p>
              {% elif embed.event_type == "CreateEvent" %}
                <p>
                  Created new {{ embed.payload.ref_type }}: <i>{{ embed.payload.ref }}</i>
                  {% if embed.payload.description %}
                    <p class="space">{{ embed.payload.description }}</p>
                  {% endif %}
                </p>
                On <a href="{{ embed.repo_url }}">{{ embed.repo.name }}</a>
              {% elif embed.event_type == "CommitCommentEvent" %}
                <p>
                  Commented on commit <a href="{{ embed.payload.comment.html_url }}">{{ embed.payload.comment.commit_id }}</a>:
                  <p class="space">{{ embed.payload.comment.body }}</p>
                </p>
              {% elif embed.event_type == "GollumEvent" %}
                <p>
                  Edited
                  <p class="space">
                    {% for page in embed.payload.pages %}
                      <p><a href="{{ page.html_url }}">{{ page.title }}</a></p>
                    {% endfor %}
                  </p>
                  On <a href="{{ embed.repo_url }}">{{ embed.repo.name }}</a>
                </p>
              {% else %}
                <p>Did some GitHub activity</p>
              {% endif %}
              <div class="clear"></div>
            </li>
          {% elif embed.type == "twitter" %}
            <li class="embedsimple twitterbg">{{ embed.html|safe }}</li>
          {% else %}
            <li class="embedsimple embedsimplebg">{{ embed.html|safe }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  {% endcomment %}


  <div class="content">
    <noscript>
      <p>You need to enable Javascript for this to work.</p>
    </noscript>
  </div>

  <div class="content inbetween"></div>

  <div class="content">
    <div id="hide" class="aligncenter">
      <img class="aligncenter" src="/static/img/loading.gif" />
    </div>
    <ul id="embeds" class="oembedded" style="display: none;"></ul>
  </div>
</div>

<script language="javascript">
Dajaxice.sam.views.front_page.soundclouds(embed);
Dajaxice.sam.views.front_page.flickrs(embed);
Dajaxice.sam.views.front_page.twitters(embed);
Dajaxice.sam.views.front_page.githubs(embed);
Dajaxice.sam.views.front_page.lastfms(embed);
//Dajaxice.sam.views.front_page.imgurs(embed);
//Dajaxice.sam.views.front_page.facebooks(embed);
</script>

{% endblock %}
