{% extends 'base.html' %}

{% block title %}<title>samolds.com - Welcome</title>{% endblock %}

{% block content %}
<div class="body wide">
  {% if banner_photo %}
    <div class="bannerphoto" style="background-image: url('{{ MEDIA_URL }}{{ banner_photo.image }}');">
      {% if home_post %}
        <div class="bannertext">
          <h1>{{ home_post.title }}</h1>
        </div>
        <div class="clear"></div>
      {% else %}
        <div class="bannerfiller"></div>
      {% endif %}
    </div>
  {% endif %}
  <div class="content">
    <!--
    <h1>Welcome to samolds.com!</h1>
    <p>A quick little blurb about me with link to about me?</p>
    <p>Put one of my favorite flickr photos here</p>
    <p>Include one of my favorite quotes picked at random</p>
    <p>Include my most recent blog post</p>
    -->
    {% if home_post %}
      {% if not banner_photo %}
        <h1>{{ home_post.title }}</h1>
      {% endif %}
      <div class="content">
        {% if home_images|length == 1 %}
          {% for image in home_images %}
            {% if not image.image == banner_photo.image %}
              <img class="postimageright" src="{{ MEDIA_URL }}{{ image.image }}" />
            {% endif %}
          {% endfor %}
          <div class="postcontent">{{ home_post.content|safe }}</div>
          <div class="clear"></div>
        {% else %}
          <div class="postcontent">{{ home_post.content|safe }}</div>
          <div class="clear"></div>

          {% for image in home_images %}
            {% if not image.image == banner_photo.image %}
              <img class="postimage{% cycle 'left' 'right' %}" src="{{ MEDIA_URL }}{{ image.image }}" />
            {% endif %}
          {% endfor %}
          <div class="clear"></div>
        {% endif %}

        {% if home_post.embedded_link %}
          {{ home_post.embedded_link|safe }}
          <div class="clear"></div>
        {% endif %}
      </div>
    {% else %}
      <h2>This part has yet to be written</h2>
    {% endif %}
  </div>

  {% if quote %}
    <div class="content inbetween"></div>

    <div class="content textright">
        <a href="/favorite_quotes"><small>"{{ quote.quote }}"</small><br /><small>- {{ quote.author }}</small></a>
    </div>
  {% endif %}
</div>

{% if post %}
  <div class="body wide">
    <div class="content">
      {% if is_site_image %}
       {% include "art_work_stub.html" %}
      {% else %}
       {% include "blog_post_stub.html" %}
      {% endif %}
    </div>
  </div>
{% endif %}

{% endblock %}
