{% extends 'base.html' %}

{% block title %} - Welcome{% endblock %}

{% block content %}
<div class="body wide">
  {% if banner_photo %}
    <div class="bannerphoto" style="background-image: url('{{ MEDIA_URL }}{{ banner_photo.image }}');">
      <div class="bannerfiller">
        <div class="bannertext">
          <h1 class="site-title">{{ home_post.title }}</h1>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="content">
    {% if home_post %}
      {% if not banner_photo %}
        <div class="content"><h1 class="site-title">{{ home_post.title }}</h1></div>
      {% endif %}
      <div class="content">
        {% if home_images|length == 1 %}
          {% for image in home_images %}
            {% if not image.image == banner_photo.image %}
              <img class="postimageright" src="{{ MEDIA_URL }}{{ image.image }}" />
            {% endif %}
          {% endfor %}
          <div class="postcontent">{{ home_post.content|safe }}</div>
          <div class="clear"></div>
        {% else %}
          <div class="postcontent">{{ home_post.content|safe }}</div>
          <div class="clear"></div>

          {% for image in home_images %}
            {% if not image.image == banner_photo.image %}
              <img class="postimage{% cycle 'left' 'right' %}" src="{{ MEDIA_URL }}{{ image.image }}" />
            {% endif %}
          {% endfor %}
          <div class="clear"></div>
        {% endif %}

        {% if home_post.embedded_link %}
          {{ home_post.embedded_link|safe }}
          <div class="clear"></div>
        {% endif %}
      </div>
    {% else %}
      <h2>{{ EMPTY_TEXT }}</h2>
    {% endif %}
  </div>
</div>

{% if post %}
  <div class="body sub-medium">
    <div class="content">
      <div class="content">
        {% if is_site_image %}
         {% include "art_work_stub.html" %}
        {% else %}
         {% include "blog_post_stub.html" %}
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}
