<div id="navbar">
  <ul class="navtop right">
    <li><a href="{% url sam.views.personal.personal %}">Personal</a>
      <ul>
        <li><a href="{% url sam.views.blog.blog %}">Blog</a></li>
        <li><a href="{% url sam.views.quote.quote %}">Favorite Quotes</a></li>
        <li><a href="{% url sam.views.front_page.front_page %}">The Front Page</a></li>
        <li><a href="{% url sam.views.education.education %}">Education</a></li>
        <li><a href="/blog/filter/art">Art</a>
        <li><a href="/blog/filter/project">Projects</a><!--
          {% if False %}
          <ul class="navsub">
            <li><a href="#{#% url sam.views. %}">Photoshop</a></li>
            <li><a href="http://www.flickr.com/samolds">Flickr</a></li>
            <li><a href="#{#% url sam.views. %}">Drawings</a></li>
            <li><a href="https://github.com/samolds">GitHub</a></li>
            <li><a href="{% url sam.views.home.home %}">samolds.com</a></li>
          </ul>
          {% endif %}
        --></li>
        <li><a href="{% url sam.views.around_the_web.around_the_web %}">Around The Web</a><!--
          {% if False %}
          <ul class="navsub">
            <li><a href="{% url sam.views.around_the_web.around_the_web %}">Overview</a></li>
            <li><a href="http://www.facebook.com/samolds">Facebook</a></li>
            <li><a href="http://www.twitter.com/sam_olds">Twitter</a></li>
            <li><a href="http://www.flickr.com/samolds">Flickr</a></li>
            <li><a href="http://www.last.fm/user/samolds">Last.fm</a></li>
            <li><a href="http://www.linkedin.com/in/samolds">LinkedIn</a></li>
            <li><a href="https://github.com/samolds">GitHub</a></li>
          </ul>
          {% endif %}
        --></li>
      </ul>
    </li>
    <li><a href="{% url sam.views.professional.professional %}">Professional</a>
      <ul>
        <li><a href="http://www.linkedin.com/in/samolds">LinkedIn</a></li>
        <li><a href="https://github.com/samolds">GitHub</a></li>
      </ul>
    </li>
  </ul>
  
  <ul class="navtop left">
    <li><a href="{% url sam.views.home.home %}">samolds.com</a>
      <ul>
        <li><a href="{% url sam.views.about.about %}">About</a></li>
        <li><a href="{% url sam.views.contact.contact %}">Contact</a></li>
      </ul>
    </li>
    <!--
    {% if False %}
      <li><a href="/admin">Admin</a>
        <ul>
          <li><a href="/admin/sam/post">Blog</a></li>
          <li><a href="/admin/sam/quote">Favorite Quotes</a></li>
          <li><a href="/admin/sam/art">Art</a></li>
          <li><a href="/admin/logout">Log Out</a></li>
        </ul>
      </li>
    {% endif %}
    -->
  </ul>

  <div class="navtop clear"></div>
</div>
