<div id="navbar">
  <ul class="navtop left">
    <li><a href="{% url sam.views.home.home %}">samolds.com</a>
      <ul>
        <li><a href="{% url sam.views.about.about %}">About</a></li>
        <li><a href="{% url sam.views.contact.contact %}">Contact</a></li>
      </ul>
    </li>
    {#% if admin %#}
      <li><a href="#">Admin</a>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Favorite Quotes</a></li>
          <li><a href="#">Photoshop</a></li>
          <li><a href="#">Drawings</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </li>
    {#% endif %#}
  </ul>

  <ul class="navtop right">
    <li><a href="{% url sam.views.personal.personal %}">Personal</a>
      <ul>
        <li><a href="{% url sam.views.education.education %}">Education</a></li>
        <li><a href="#{#% url sam.views. %}">Blog</a></li>
        <li><a href="#{#% url sam.views. %}">Favorite Quotes</a></li>
        <li><a href="#{#% url sam.views. %}">Projects</a>
          <ul class="navsub">
            <li><a href="#{#% url sam.views. %}">Photoshop</a></li>
            <li><a href="http://www.flickr.com/samolds">Flickr</a></li>
            <li><a href="#{#% url sam.views. %}">Drawings</a></li>
            <li><a href="https://github.com/samolds">GitHub</a></li>
            <li><a href="{% url sam.views.home.home %}">samolds.com</a></li>
          </ul>
        </li>
        <li><a href="{% url sam.views.around_the_web.around_the_web %}">Around The Web</a>
          <ul class="navsub">
            <li><a href="{% url sam.views.around_the_web.around_the_web %}">Overview</a></li>
            <li><a href="http://www.facebook.com/samolds">Facebook</a></li>
            <li><a href="http://www.twitter.com/sam_olds">Twitter</a></li>
            <li><a href="http://www.flickr.com/samolds">Flickr</a></li>
            <li><a href="http://www.last.fm/user/samolds">Last.fm</a></li>
            <li><a href="http://www.linkedin.com/in/samolds">LinkedIn</a></li>
            <li><a href="https://github.com/samolds">GitHub</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="{% url sam.views.professional.professional %}">Professional</a>
      <ul>
        <li><a href="http://www.linkedin.com/in/samolds">LinkedIn</a></li>
        <li><a href="https://github.com/samolds">GitHub</a></li>
      </ul>
    </li>
  </ul>
</div>
