{% extends 'base.html' %}

{% block title %}<title>samolds.com - Password</title>{% endblock %}

{% block content %}
<div class="body narrow">
  {% if password %}
    <div class="content">
      <p>For my personal use (presalted):</p>
      <p>{{ password }}</p>
    </div>
  
    <div class="content inbetween"></div>
  {% endif %}

  <div class="content">
    <form class="contactform" action="/password" method="post">{% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
          {% if field.name == "email_confirmation" %}
              <div style="display: None;">
                  LEAVE BLANK {{ field }}
              </div>
          {% else %}
              <div class="fieldWrapper">
                  {% load form_placeholder %}
                  {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="alert">{{ field.label_tag }}{{ field|updt_plchdr:error|escape }}</div>
                    {% endfor %}
                  {% else %}
                    {{ field.label_tag }}{{ field }}
                  {% endif %}
              </div>
          {% endif %}
      {% endfor %}
      <input class="submitbtn" type="submit" value="Go" />
    </form>
  </div>
  <div class="content">
    <p><a href="http://jtolds.com/sha1">JT Olds' SHA1 generator</a></p>
  </div>
</div>
{% endblock %}
