{% extends 'base.html' %}

{% block title %}<title>samolds.com - Professional</title>{% endblock %}

{% block content %}
<div class="body-narrow">
<div class="content">
<h1>My Professional Side</h1>
<p>Hey potential employers... check out what I can do</p>
<small>(Cronk gif of shoulder devil doing handstand and Cronk says "I don't see how -" and the shoulder angel says "No, no. He's got a point.")</small>

<ul class="content">
<li>If you would like a copy of me resume or a list of references, please <a href="/contact">contact me</a>.</li>
<li>A link to the contact me section</li>
<li>Link to LinkedIn</li>
<li>Blog posts titled with "professional" or "work" or something</li>
</ul>
</div>
</div>

{% endblock %}
