{% extends 'base.html' %}

{% block title %} - The River{% endblock %}

{% block script %}
  <script async="" src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="{{ STATIC_URL }}js/embed.js" language="javascript" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="body wide">
  <div class="content">
    <div class="right">
      <p>Display:</p>
      <small>
        <table>
          <tr>
            <td><label title="Coming Soon" for="facebook-toggle">Facebook</label></td>
            <td><input title="Coming Soon" id="facebook-toggle" disabled name="facebook-toggle" type="checkbox" onclick="toggleDisplay('facebook')"/></td>
            <td class="table-pad"></td>
            <td><label for="flickr-toggle">Flickr</label></td>
            <td><input id="flickr-toggle" name="flickr-toggle" type="checkbox" checked="checked" onclick="toggleDisplay('flickr')"/></td>
          </tr>
          <tr>
            <td><label for="github-toggle">Github</label></td>
            <td><input id="github-toggle" name="github-toggle" type="checkbox" checked="checked" onclick="toggleDisplay('github')"/></td>
            <td class="table-pad"></td>
            <td><label title="Coming Soon" for="imgur-toggle">Imgur</label></td>
            <td><input title="Coming Soon" id="imgur-toggle" disabled name="imgur-toggle" type="checkbox" onclick="toggleDisplay('imgur')"/></td>
          </tr>
          <tr>
            <td><label for="lastfm-toggle">LastFm</label></td>
            <td><input id="lastfm-toggle" name="lastfm-toggle" type="checkbox" onclick="toggleDisplay('lastfm')"/></td>
            <td class="table-pad"></td>
            <td><label for="soundcloud-toggle">Soundcloud</label></td>
            <td><input id="soundcloud-toggle" name="soundcloud-toggle" type="checkbox" onclick="toggleDisplay('soundcloud')"/></td>
          </tr>
          <tr>
            <td><label for="blog-toggle">Blog</label></td>
            <td><input id="blog-toggle" name="blog-toggle" type="checkbox" checked="checked" onclick="toggleDisplay('blog')"/></td>
            <td class="table-pad"></td>
            <td><label for="twitter-toggle">Twitter</label></td>
            <td><input id="twitter-toggle" name="twitter-toggle" type="checkbox" checked="checked" onclick="toggleDisplay('twitter')"/></td>
          </tr>
        </table>
      </small>
    </div>
    <h1>The River</h1>
    <small>A collection of my most prominent activity streams.</small>

    <noscript>
      <p>You need to enable Javascript for this to work.</p>
    </noscript>
    <div class="clear"></div>
  </div>
  <div class="content inbetween"></div>

  <div class="content">
    <div id="hide" class="aligncenter">
      <img class="aligncenter" src="{{ STATIC_URL }}img/loading.gif" />
    </div>
    <ul id="embeds" class="oembedded" style="display: none;"></ul>
  </div>
</div>

<script language="javascript">
ajaxCall('soundclouds');
ajaxCall('flickrs');
ajaxCall('twitters');
ajaxCall('githubs');
ajaxCall('lastfms');
ajaxCall('blogs');
//ajaxCall('imgurs');
//ajaxCall('facebooks');
</script>

{% endblock %}
